html, body {
	margin: 0;
	height: 100%;
	padding-top: 55px;
	overflow:auto;
    padding-bottom:60px;
}

.fl {
 display: inline-block;
}

.fl:first-letter {
 text-transform:uppercase;
}

@media ( min-width : 979px) {
	ul.nav li.dropdown:hover>ul.dropdown-menu {
		display: block;
	}
}

.sidebar-outer {
    position: relative;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
    }
}

.text-left {
	margin-left: 30px;
}
.caption{
	text-align: center;
}

.outer-wrapper { 
display: table;
width: 100%;
height: 100%;
}

.inner-wrapper {
  display:table-cell;
  vertical-align:top;
  padding:15px;
}

.navbar {
	clear: both;
}

nav {
	box-shadow: 5px 4px 5px #000;
}

pre {
	border: 0;
	overflow: auto;
	background: #FFFFFF;
	font-family:Arvo;
	font-size:12px;
	}

.footer {
	background: #F5F5F0;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: block;
}

.footer p {
	text-align: center;
	margin-top: auto;
}

.footer container-fluid {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

footer>p, footer>div {
	vertical-align: middle;
	padding: 20px;
}


.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #a397a3;
	display:inline-block;
	cursor:pointer;
	color:#1d2b2e;
	font-family:Impact;
	font-size:17px;
	font-style:italic;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}